<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Employees</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
	integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
	crossorigin="anonymous">
<!-- <link rel="stylesheet" href="../css/shards.min.css"> -->
</head>
<body>
	<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
		<a class="navbar-brand" href="/index">Home</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#collapsibleNavbar">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="collapsibleNavbar">
			<ul class="navbar-nav">
				<li class="nav-item"><a class="nav-link" href="/employees/List">Employee</a>
				</li>
				<li class="nav-item"><a class="nav-link" href="#">Site</a></li>
				<li class="nav-item"><a class="nav-link" href="#">Addendance</a>
				</li>
			</ul>
		</div>
	</nav>

	<div class="container" style="margin-top: 30px">
		<div class="card">
			<div class="card-body">
				<div th:switch="${employees}" class="container my-5">
					<p class="my-5">
						<a href="/employees/new" class="btn btn-primary"><i
							class="fas fa-user-plus ml-2"> Add Employee</i></a>
					</p>
					<div class="col-md-10">
						<h2 th:case="null">No Students yet!</h2>
						<div th:case="*">
							<table class="table table-striped table-responsive-md">
								<thead>
									<tr>
										<th>Name</th>
										<th>Father Name</th>
										<th>Cnic</th>
										<th>Salary</th>
										<th>Edit</th>
										<th>Delete</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="employee : ${employees}">
										<td><a th:href="@{/employees/show/{id}(id=${employee.id})}"
											th:text="${employee.name}"> </a></td>
										<td th:text="${employee.fatherName}"></td>
										<td th:text="${employee.cnic}"></td>
										<td th:text="${employee.salary}"></td>
										<td><a th:href="@{/employees/edit/{id}(id=${employee.id})}"
											class="btn btn-primary"><i class="fas fa-user-edit ml-2"></i></a></td>
										<td><a
											th:href="@{/employees/delete/{id}(id=${employee.id})}"
											class="btn btn-primary"><i class="fas fa-user-times ml-2"></i></a></td>
									</tr>
								</tbody>
							</table>
						</div>

					</div>
				</div>
			</div>
		</div>

	</div>

	<div class="jumbotron text-center" style="margin-bottom: 0">
		<p>Footer</p>
	</div>

</body>
</html>
